html
{
	height: 100%;
}

body
{
	height: 100%;
	margin: 0;
	background-color: #000;
	overflow: hidden;
	cursor: none;
}

.photo
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: none;
	opacity: 0;
	transition: opacity 5s linear, transform 65s linear;
}

.photo.visible
{
	opacity: 1;
	transform: scale(1.3);
}

.photo img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Thin.ttf');
}

.clock-container {
	position: fixed;

	top: 10%;
	left: 10%;

	z-index: 1000;
}

#clock {
	color: white;

	font-size: 5em;

	font-family: 'Roboto';
	font-weight: lighter;

	opacity: 0;

	transition: opacity 5s;
}
