html
{
	height: 100%;
}

body
{
	height: 100%;
	margin: 0;
	background-color: #000;
	overflow: hidden;
	cursor: none;
}

.cover
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: none;
	opacity: 0.4;
	z-index: 100;
	background: black;
	display: table;
}

.datetime{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	opacity: 0.9;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.time{
	padding-top: 50px;
	transform: scaleY(2.0);
	font-size: 23em;
}

.date{
	margin-top: 150px;
	font-size: 5em;
}

.photo
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: none;
	opacity: 0;
	transition: opacity 3s linear;
}

.photo.visible
{
	opacity: 1;
	transform: scale(1.3);
}

.photo img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

label
{
	display: block;
	position: absolute;
	white-space: nowrap;
	color: rgba(255, 255, 255, 0.4);
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	padding: 6px 8px;
	border-radius: 3px;
	opacity: 0;
	transition: opacity 5s linear;
}

label.visible
{
	opacity: 1;
}

label.pos0
{
	right: 10px;
	top: 10px;
}

label.pos1
{
	right: 10px;
	bottom: 10px;
}

label.pos2
{
	left: 10px;
	top: 10px;
}
